.card{
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    height: 400px;
    background-color: rgb(251, 255, 252);
    display: flex;
    flex-direction: column;
    direction: rtl;
    border: solid rgb(237, 252, 233);
    border-radius: 20px;
    justify-content: space-between;
    /* justify-content: s; */
}
.title_card{
    color: rgb(77, 120, 78);
    font-size: 1.5rem;
    height: 50px;
    border-bottom: solid rgb(207, 207, 207);
    width: 100%;
}
.parts{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.part{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
}
.numbers{
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */

}
.num_btn1{
    height: 45px;
    width: 45px;
    background-color: rgb(77, 120, 78);
    color: rgb(230, 210, 76);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-color: rgb(77, 120, 78);
    border-radius: 5px;
}
.num_btn0{
    height: 45px;
    width: 45px;
    background-color: rgb(220, 249, 221);
    color: rgb(56, 50, 11);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-color: rgb(77, 120, 78);
    border-radius: 5px;
}
.h3{
    color: rgb(103, 86, 69);

}