.header{
    /* position: fixed; */
    height: 120px;
    width: 100vw;
    background-color: rgb(103 86 69);
    display: flex;
    justify-content: space-around;
    color: rgb(225 215 152);
    font-family: Arial, Helvetica, sans-serif;
}
.h33:hover{
    border-bottom: solid 2px rgb(225 215 152);
}
.headerleft{
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerright{
    height: 120px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.idf_img{
    height: 50px;
}